.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url(../img/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    margin-right: 1em;
}

.container__botao:checked ~ .container__label > .cabecalho__menu-hamburguer {
    background-image: url("../img/Menu Aberto.svg"); 
}

.container__botao:checked ~ .container__label {
    background: var(--color-blue-gradient);
    padding: 1em 0.5em;
    margin-right: 1em;

}
.cabecalho {
    background-color: var(--color-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked ~ .lista-menu {
    display: block;
}


.lista-menu__titulo, .lista-menu__item {
    padding: 1em;
    background-color: var(--color-white);
}

.lista-menu__titulo {
    color: var(--color-orange);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--color-blue-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    text-decoration: none;
}

.container__botao {
    display: none;
}

.container__titulo {
    display: none;
}

.opcoes {
    display: none;
}

.container__texto {
    display: none;
}

@media screen and (min-width: 1024px) {

    .container__titulo, .container__titulo--negrito {
        font-family: var(--font-second);
        font-size: 30px;
    }

    .container__titulo{
        font-weight: 400S;
        display: block;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }

    .opcoes__item {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--color-black);
    }

    .container__imagem-transparente {
        display: none;
    }

    .cabecalho__menu-hamburguer {
        display: none;
    }

    .logo__alura {
        padding: 1em;
    }

    .opcoes__botao:checked ~ .lista-menu {
        display: block;
        width: auto;        
    }

    .opcoes__botao {
        display: none;
    }

    .opcoes__botao:checked ~ .opcoes__label > .opcoes__item {
        background: var(--color-blue-gradient);
        color: var(--color-white);
    }

    .opcoes__item {
        padding: 2em 1em;
    }

    .lista-menu__item:hover {
        background: var(--color-blue-gradient);
    }

    .lista-menu__item:hover > .lista-menu__link {
        -webkit-text-fill-color: var(--color-white);
    }


}

@media screen and (min-width: 1728px) {

    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--color-black);
    }

    .cabecalho {
        padding: 0 2em;
    }

    .opcoes {
        margin-right: auto;
    }

    .container__texto {
        display: block;
    }

}
